<div class="modal-dialog">

  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title"><%= title %></h4>
    </div>

    <div class="modal-body">
      <p><%= body %></p>
    </div>

    <div class="modal-footer">
      <% for (i = 0; i < buttons.length; i++) { %>
      <button type="button"
              class="btn js-dialog-button <%= buttons[i].class ? buttons[i].class : 'btn-default' %>"
              data-trigger="<%= buttons[i].triggerName %>"
            <% if (buttons[i].dismiss) { %>
              data-dismiss="modal"
            <% } %>
      >
        <%= buttons[i].title %>
      </button>
      <% } %>
    </div>

  </div>

</div>
