<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        <i class="fa fa-cube text-primary"></i> Feature: Modal Dialog
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="lead">
      This page illustrates the modal dialog box feature in action.
      This is a Bootstrap modal dialog box that has been implemented in a
      reusable Marionette view and template.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>
      The <code>DialogView</code> class extends a Marionette ItemView.  The
      class uses the supplied <code>options</code> hash values to render the
      modal.  The title, body, and buttons may be set to any desired values
      without requiring one-off code.
    </p>
    <p>
      Click the button on the right to see this feature in action.
    </p>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-lg btn-primary center-block js-dialog">Show Modal Dialog</button>
  </div>
</div>
