<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        <i class="fa fa-home text-primary"></i> Home
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
  </div>
  <div class="col-md-4">
    <h3>Body Text</h3>
    <p>
      This is a paragraph of standard, body copy text.  Any text may be modified
      using emphasis classes.
    </p>
    <h3>Lead Text</h3>
    <p class="lead">
      This is a paragraph of <strong>lead</strong> text.
    </p>
  </div>
  <div class="col-md-4">
    <h3>Emphasis Classes</h3>
    <p>
      This is a paragraph of standard body copy text.<br/>
      <span class="text-primary">This sentence is the color primary.</span><br/>
      <span class="text-success">This sentence is the color success.</span><br/>
      <span class="text-info">This sentence is the color info.</span><br/>
      <span class="text-warning">This sentence is the color warning.</span><br/>
      <span class="text-danger">This sentence is the color danger.</span><br/>
      <span class="text-muted">This sentence is the color muted.</span>
    </p>
  </div>
</div>
